.mainContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}
.mainSuggestionContainer {
  border: 1px solid black;
  max-height: 10rem;
  overflow-y: scroll;
  position: absolute;
  top: 3.5rem;
  width: 100%;
}
.mainSuggestionContainer p {
  margin: 0;
  padding: 1rem;
}
.loading {
  display: flex;
  align-items: center;
}
.loading > p {
  font-size: larger;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
